<navbar><%- include('../partials/sidebar.ejs') %></navbar>
<div class="main_content">
  <div><%- include ('../partials/header.ejs') %></div> 

<div class="card border-info mb-3" style="max-width: 20rem; margin: 25px;">
    <div class="card-header">Stocks</div>
    <div class="card-body">
      <h4 class="card-title">Stock Widget</h4>
      <p class="card-text">This should be a stock widget</p>
    </div>
</div>

<div class="card border-warning mb-3" style="max-width: 30rem; margin: 25px;">
    <div class="card-header">News</div>
    <div class="card-body">
      <h4 class="card-title">Finance News</h4>
      <p class="card-text">This should be a news widget</p>
    </div>
</div>

</div>