<div class="wrapper">
    <div class="sidebar">
        <nav class="nav_content">
            <div class="nav_items">     
                <ul class="sidenav" id="mobile-demo">
                    <li class="nav_items"><a href="/dashboard"><i class="fa-solid fa-gauge-high"></i> Dashboard</a></li>
                    <li class="nav_items"><a href="/calendar"><i class="fa-solid fa-calendar-days"></i> Calendar</a></li>
                    <li class="nav_items"><a href="/news"><i class="fa-solid fa-newspaper"></i> News</a></li>
                    <li class="nav_items"><a href="/sports"><i class="fa-solid fa-futbol"></i> Sports</a></li>
                    <li class="nav_items"><a href="/finance"><i class="fa-solid fa-file-invoice-dollar"></i> Finance</a></li>
                    <li class="nav_items"><a href="/food"><i class="fa-solid fa-martini-glass-citrus"></i> Food & Cocktails</a></li>
                    <li class="nav_items"><a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                </ul>
            </div>
        </nav>
</div>