<div class="wrapper">
    <div class="sidebar">
<nav class="nav_content">
    <div class="nav_items">
        <ul class="sidenav" id="mobile-demo">
            <li class="nav_items"><a href="/dashboard">Dashboard</a></li>
            <li class="nav_items"><a href="/calendar">Calendar</a></li>
            <li class="nav_items"><a href="/news">News</a></li>
            <li class="nav_items"><a href="/sports">Sports</a></li>
            <li class="nav_items"><a href="/finance">Finance</a></li>
            <li class="nav_items"><a href="/food">Food & Cocktails</a></li>
            <li class="nav_items"><a href="/users/logout">Logout</a></li>
        </ul>
    </div>
</nav>
</div>
</div>