
<header><%- include('./partials/header.ejs')%></header> 
    <nav><%- include('./partials/sideNav.ejs')%></nav>
      
<iframe
    title="Sports Odds Widget"
    class="card card-body border-warning"
    style="width: 20rem; height: 25rem; border: 1px solid black;"
    src="https://widget.the-odds-api.com/v1/sports/basketball_nba/events/?accessKey=wk_adfa64d70e79cea9ea5674245251bf2f&bookmakerKeys=fanduel&oddsFormat=american&markets=h2h%2Cspreads%2Ctotals&marketNames=h2h%3AMoneyline%2Cspreads%3ASpreads%2Ctotals%3AOver%2FUnder">
</iframe>
<footer><%- include('./partials/footer.ejs')%></footer>

