<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card border-warning mb-2 text-center">
        <div class="card-body">
        <h1><i class="fa-regular fa-id-card fa-2x"></i></h1>
        <h2>DashMash</h2>
        <h3>Your personal mashed dashboard</h3>
        <p>Login or create an account</p>
        <a href="/users/login" class="btn btn-outline-info btn-block">Login</a>
        <a href="/users/register" class="btn btn-outline-info btn-block">Register</a>
      </div>
    </div>
    </div>
</div>